body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #0e4a7b;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .controls {
    margin: 1rem;
    text-align: center;
  }
  
  #map {
  width: 100vw;
  height: calc(100vh - 60px); /* Por ejemplo, si tu cabecera mide 60px */
  margin-top: 60px; /* misma altura */
}
  
  #info {
    margin: 1rem;
    text-align: center;
    font-weight: bold;
  }
  